<!--This is the html to be reflected in the server--> 

<!DOCTYPE html>
<html lang="en">
    {% load static %}
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>GatherUp</title>
        <link rel="icon" href="{% static 'img/LogoVer2.png' %}" type="image/png">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
        <link rel="stylesheet" href="{% static 'css/login.css' %}">
    </head>
    <body>
        <section class="login-section" style="position: relative; background-image: url({% static 'img/Login.png' %}); background-size: cover; background-position: center; background-repeat: no-repeat; height: 100vh; margin-top: 0px; ">
            <div class="login-container" >             
                <div class="login-image" >         
                    <div class="login-form-container" >
                        <div class="inner-container">
                            <h1>Log in</h1>
                            <form method="POST" action="{% url 'login' %}">
                                {% csrf_token %}
                                
                                <label for="username">Username</label>
                                <input type="text" id="username" name="username" placeholder="" required>
                                
                                <label for="password">Password</label>
                                <input type="password" id="password" name="password" placeholder="" required>
                                
                                <div class="forgot-password">
                                    <a href="/password_reset">Forgot Password?</a>
                                </div>
                            
                                <button type="submit" class="login-btn">Log in</button>
                            </form>
                            
                            <div class="signup-option">
                                <p>Don't have an account? <a href="{% url 'user_registration' %}">Sign Up</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </body>
</html>

