<!DOCTYPE html>
<html lang="en">
    {% load static %}
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>GatherUp</title>
        <link rel="icon" href="{% static 'img/LogoVer2.png' %}" type="image/png">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
        <link rel="stylesheet" href="{% static 'css/profile.css' %}">
    </head>
    <body>
        <header class="header_area">            
            <div class="main_menu">
                <nav class="navbar navbar-expand-lg navbar-light">
                    <div class="container d-flex align-items-center justify-content-between">
                        <div class="logo-container d-flex align-items-center">
                            <img style="width: 8%;" src="{% static 'img/Logo.png' %}" class="thumbnail">
                            <a class="navbar-brand logo_h" href="{% url 'user_dashboard' %}" style="text-decoration: none;">
                                <span style="padding-left:10px; color: black; font-size: 180%; font-family: 'Nunito', sans-serif; font-weight: 1000;">
                                    <span style="color: #315098;">GatherUp</span>
                                </span>
                            </a>
                        </div>
                        
                        <div class="navbar-collapse" id="navbarNav">
                            <ul class="navbar-nav ml-auto">
                                
                                <li class="nav-item">
                                    <a class="nav-link notification-icon" href="{% url 'user_notifications' %}">
                                        <i class="bi bi-bell"></i>
                                    </a>
                                </li>
        
                                <li class="nav-item">
                                    <a class="nav-link user-icon" href="{% url 'user_profile' %}">
                                        <i class="bi bi-person-circle"></i>
                                    </a>
                                </li>
        
                                <li class="nav-item">
                                    <a class="nav-link logout-btn" href="{% url 'login' %}?logout=true">
                                        <i class="bi bi-box-arrow-right"></i> Logout
                                    </a>
                                </li>                             
                                                                
                            </ul>
                        </div>
                    </div>
                </nav>
            </div>
        </header>

        <section class="user-profile">
            <div class="container profile-container">
                <!-- Profile title -->
                <h3 class="profile-title">Profile</h3>
        
                <!-- User Profile Information -->
                <div class="profile-header">
                    <div class="profile-container">
                        <form method="POST" enctype="multipart/form-data">
                            {% csrf_token %}
                            <div class="form-group">
                                {% if profile.profile_pic %}
                                    <!-- Display the profile picture if it exists -->
                                    <img src="{{ profile.profile_pic.url }}" alt="Profile Picture" style="width: 150px; height: 150px;" class="user-avatar">
                                    <button type="submit" name="clear" value="1">Clear</button>
                        
                                {% else %}

                                    <p>No profile picture uploaded yet.</p>
                                    <input type="file" name="profile_pic" accept="image/*" class="form-control">
                                {% endif %}
                            </div>
                            
                            <!-- Only show the "Update Profile Picture" button if there's a file input (if no profile pic exists) -->
                            {% if not profile.profile_pic %}
                                <button type="submit" class="btn btn-primary">Update Profile Picture</button>
                            {% endif %}
                        </form>
                                                
                    </div>
                    <div class="profile-info">
                        <h2>@{{user.username}}</h2>
                        <p><i class="bi bi-calendar3"></i> Joined in {{ date_joined|date:"F Y" }}
                        </p>
                        <p>
                            <i class="bi bi-mic"></i> Events Hosted:  {{ created_events_count }}
                            <span class="events-separator"></span> 
                            <i class="bi bi-ticket-perforated"></i> Events Attended:  {{ registered_events_count }}
                        </p>
                    </div>
                </div>
        
                
                <hr class="divider">
        
                <!-- Settings Section -->
                <div class="settings">
                    <h3 class="settings-title">Settings</h3>
                    <form>
                        <div class="form-group">
                            <label for="name">Username</label>
                            <input type="text" id="name" value="{{user.username}}" readonly>
                        </div>
                        <div class="form-group">
                            <label for="username">Email</label>
                            <input type="text" id="username" value="{{user.email}}" readonly>
                        </div>
                    </form>

                    <form action="{% url 'user_profile' %}" method="POST">
                        {% csrf_token %}
                        <div class="delete-btn-container">
                            <button class="delete-account-btn" type="submit" name="delete_account">
                                <i class="bi bi-exclamation-octagon"></i> Delete Account
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </section>

        <script>
            document.getElementById('profile-image').addEventListener('click', function() {
                document.getElementById('profile-picture-input').click();
            });

            document.getElementById('profile-picture-input').addEventListener('change', function(event) {
                var reader = new FileReader();
                reader.onload = function(e) {
                    document.getElementById('profile-image').src = e.target.result;
                    document.getElementById('submit-picture').click(); 
                }
                reader.readAsDataURL(event.target.files[0]);
            });
        </script>
        
    </body>
    </html>