<!DOCTYPE html>
<html lang="en">
    {% load static %}
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>GatherUp</title>
        <link rel="icon" href="{% static 'img/LogoVer2.png' %}" type="image/png">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css">
        <link rel="stylesheet" href="{% static 'css/registration.css' %}">
    </head>
    <body>
        


        <section class="register-section" style="position: relative; background-image: url({% static 'img/Sign Up.png' %}); background-size: cover; background-position: center; background-repeat: no-repeat; height: 100vh; margin-top: 0px; ">
            <div class="register-container">
                <div class="register-image"></div>
        
                <div class="register-form-container">
                    <div class="inner-container">
                        <h1>Sign Up</h1>
                        <form action="{% url 'user_registration' %}" method="POST">
                            {% csrf_token %}

                            <!-- Your Name -->
                            <label for="username">Username</label>
                            <input type="text" id="username" name="username" placeholder="" required>
                            
                            <!-- Email -->
                            <label for="email">Email Address</label>
                            <input type="email" id="email" name="email" placeholder="" required>
            
                            <!-- Password and Confirm Password on the same row -->
                            <div class="password-container">
                                <div class="password-field">
                                    <label for="password">Password</label>
                                    <input type="password" id="password" name="password" placeholder="" required>
                                </div>
                                <div class="confirm-password-field">
                                    <label for="confirm-password">Confirm Password</label>
                                    <input type="password" id="confirm_password" name="confirm_password" placeholder="" required>
                                </div>
                            </div>

                            <!-- Password Guideline -->
                        <div class="password-guideline">
                            <p>Use 8 or more characters with a mix of letters, numbers & symbols.</p>
                        </div>
                            
                        <!-- Submit button -->
                        <button type="submit" class="signup-btn" id="signup-button">Sign Up</button>
                    </form>

                    <div class="login-option">
                        <p>Already have an account? <a href="{% url 'login' %}">Log in</a></p>
                    </div>
                    
                </div>
            </div>
            </div>
        </section>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
    </body>
    </html>