<!-- Template for Registered Not Signed In  -->

<!DOCTYPE html>
<html lang="en">
    {% load static %}
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>GatherUp</title>
        <link rel="icon" href="{% static 'img/LogoVer2.png' %}" type="image/png">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
        <link rel="stylesheet" href="{% static 'css/userregistration2.css' %}">
    </head>
    <body>
        <header class="header_area">            
            <div class="main_menu">
                <nav class="navbar navbar-expand-lg navbar-light">
                    <div class="container d-flex align-items-center justify-content-between">
                        <div class="logo-container d-flex align-items-center">
                            <img style="width: 8%;" src="{% static 'img/Logo.png' %}" class="thumbnail">
                            <a class="navbar-brand logo_h" href="#" style="text-decoration: none;">
                                <span style="padding-left:10px; color: black; font-size: 180%; font-family: 'Nunito', sans-serif; font-weight: 1000;"> 
                                    <span style="color: #315098;">GatherUp</span>
                                </span>
                            </a>
                        </div>
                        
                        <div class="navbar-collapse" id="navbarNav">
                            <ul class="navbar-nav ml-auto">
                                
                                <li class="nav-item">
                                    <a class="nav-link notification-icon" href="/user_notifications">
                                        <i class="bi bi-bell"></i>
                                    </a>
                                </li>
        
                                <li class="nav-item">
                                    <a class="nav-link user-icon" href="/user_profile">
                                        <i class="bi bi-person-circle"></i>
                                    </a>
                                </li>
        
                                <li class="nav-item">
                                    <a class="nav-link logout-btn" href="/">
                                        <i class="bi bi-box-arrow-right"></i> Logout
                                    </a>
                                </li>                             
                                                                
                            </ul>
                        </div>
                    </div>
                </nav>
            </div>
        </header>

        <section class="main-section">
            <div class="image-container">
                <img src="{% static 'img/sample-event.jpg' %}" alt="Event Image">
            </div>
        

            <!-- Event Content -->
            <div class="content-container">
                <!-- Left Content -->
                <div class="left-content">
                    <div class="event-title">Sound of Music</div>
                    <div class="icon-text">
                        <i class="bi bi-calendar3"></i> Mon, September 03
                    </div>
                    <div class="icon-text1">
                         6:00AM-10:00AM
                    </div>
                    <div class="icon-text">
                        <i class="bi bi-geo-alt"></i> Pamantasan ng Lungsod ng Maynila
                    </div>
                    <div class="icon-text1">
                        Intramuros, Manila
                    </div>
                </div>

                <!-- Right Content -->
                <div class="right-content">
                    <div class="hosted-by">
                        <div class="hosted-container">
                            <div class="text-left">Hosted by</div>
                            <div class="gray-line"></div>
                        </div>
                        <div class="user-icon">
                            <img src="{% static 'img/Joshua.jpg' %}" alt="Profile Picture" class="profile-picture" style="height: 30px; width: 30px;" >
                            Mark
                        </div>
                    </div>
                    <div class="attendees">
                        <div class="attendees-container">
                            <div class="text-left">100 attendees</div>
                            <div class="gray-line"></div>
                        </div>
                    </div>
                </div>  
            </div>              
 
            <div class="registration-container" id="registration-container">
                <div class="registration-header">Registration</div>
                <div class="gray-line"></div>
                <div class="registration-message">
                    Welcome! To join the event, please register below.
                </div>
                
                    <button class="register-button" onclick="changeContent()">
                        <i class="bi bi-ticket-detailed"></i> Register
                    </button>
                </div>
            </div>
            
            <!-- Script for the container -->
            <script>
                function changeContent() {
                    const registrationContainer = document.getElementById('registration-container');
                
                    
                    registrationContainer.innerHTML = '';
                
                    
                    const logo = document.createElement('img');
                    logo.src = '{% static "img/BlackLogo.png" %}';  
                    logo.alt = 'Event Logo';
                    logo.style.width = '50px';  
                    logo.style.margin = '0 auto';
                    logo.style.display = 'left';                
                
                    
                    const yourInfoText = document.createElement('p');
                    yourInfoText.textContent = 'Your Info';
                    yourInfoText.style.fontSize = '24px';
                    yourInfoText.style.fontWeight = 'bold'; 
                    yourInfoText.style.textAlign = 'left';
                    yourInfoText.style.marginTop = '5px';
                    yourInfoText.style.color = 'black';
                
                    
                    const nameText = document.createElement('p');
                    nameText.textContent = 'Name';
                    nameText.style.fontSize = '18px';
                    nameText.style.textAlign = 'left';
                    nameText.style.marginTop = '10px'; 
                
                    
                    const nameInput = document.createElement('input');
                    nameInput.type = 'text';    
                    nameInput.style.width = '95%';
                    nameInput.style.padding = '10px';
                    nameInput.style.marginTop = '0px';
                    nameInput.style.border = '2px solid #cccccc';
                    nameInput.style.borderRadius = '15px';
                    nameInput.style.fontSize = '16px';
                    nameInput.style.backgroundColor = 'transparent'; 
                
                    
                    const emailText = document.createElement('p');
                    emailText.textContent = 'Email';
                    emailText.style.fontSize = '18px';
                    emailText.style.textAlign = 'left';
                    emailText.style.marginTop = '15px'; 
                
                    
                    const emailInput = document.createElement('input');
                    emailInput.type = 'email';    
                    emailInput.style.width = '95%';
                    emailInput.style.padding = '10px';
                    emailInput.style.marginTop = '5px';
                    emailInput.style.border = '2px solid #cccccc';
                    emailInput.style.borderRadius = '15px';
                    emailInput.style.fontSize = '16px';
                    emailInput.style.backgroundColor = 'transparent'; 
                                   
                    registrationContainer.appendChild(logo);
                    registrationContainer.appendChild(yourInfoText);
                    registrationContainer.appendChild(nameText);
                    registrationContainer.appendChild(nameInput);
                    registrationContainer.appendChild(emailText);
                    registrationContainer.appendChild(emailInput);

                    const registerButton = document.createElement('button');
                    registerButton.style.width = '97%';
                    registerButton.style.padding = '15px';
                    registerButton.style.marginTop = '30px';
                    registerButton.style.backgroundColor = '#315098';
                    registerButton.style.color = 'white';
                    registerButton.style.border = 'none';
                    registerButton.style.borderRadius = '10px';
                    registerButton.style.fontSize = '16px';
                    registerButton.style.cursor = 'pointer';
                    registerButton.style.display = 'flex';
                    registerButton.style.alignItems = 'center';
                    registerButton.style.justifyContent = 'center';
                    registerButton.style.gap = '10px';
                    registerButton.innerHTML = '<i class="bi bi-ticket-detailed"></i> Register';

        
                    registrationContainer.appendChild(logo);
                    registrationContainer.appendChild(yourInfoText);
                    registrationContainer.appendChild(nameText);
                    registrationContainer.appendChild(nameInput);
                    registrationContainer.appendChild(emailText);
                    registrationContainer.appendChild(emailInput);
                    registrationContainer.appendChild(registerButton);
                }
                               
                
            </script>

            <!-- About Event Section -->
    <div class="about-event-container">
        <div class="about-event-header">About the Event</div>
        <div class="gray-line"></div>
        <div class="about-event-description">
            Whenever I see girls and boys selling lanterns on the streets, I remember the Child
            in the manger, as he sleeps. Wherever there are people giving gifts, exchanging cards,
            I believe that Christmas is truly in their hearts.

            Let's light our Christmas trees for a bright tomorrow, where nations are at peace
            and all are one in God.

            Let's sing Merry Christmas and a happy holiday. This season may we never forget
            the love we have for Jesus. Let Him be the one to guide us as another new year starts,
            and may the spirit of Christmas be always in our hearts.

            In every prayer and every song, the community unites, celebrating the birth
            of our Savior, Jesus Christ. Let love, like that starlight on that first Christmas morn,
            lead us back to the manger, where Christ the Child was born.
        </div>
    </div>

    <!-- Location Section -->
    <div class="location-container">
        <div class="location-header">Location</div>
        <div class="gray-line"></div>
        <!-- Location Text -->
        <div class="location-name">Pamantasan ng Lungsod ng Maynila</div>
        <div class="location-subtext">Intramuros, Manila</div>
        
        <div class="map-container">
            <iframe 
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1930.736013064427!2d120.9737151!3d14.5879216!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3397ca13d8a45617%3A0xe9db3d2c4f54a1c1!2sPamantasan%20ng%20Lungsod%20ng%20Maynila!5e0!3m2!1sen!2sph!4v1632891071701!5m2!1sen!2sph" 
                width="100%" 
                height="350" 
                style="border:0;" 
                allowfullscreen="" 
                loading="lazy">
            </iframe>
        </div>
    </div>

            </section>
           


        
    </body>
    </html>